.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vw;
}

.App-header {
  background-color: #222;
  height: 20vw;
  padding: 3vw;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.searchBar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #1DA1F2;
  color: #fff;
  height: 4vmax;
  font-size: 15px;
  letter-spacing: 0.05rem;
}

.logo {
  margin-left: 1.5vw;
  float: left;
}

.datasearch {
  margin-left: auto;
  margin-right: auto;
}

.datasearch .searchbox {
  min-width: 39vw;
  max-height: 3vw;
  border-radius: 3vw;
  padding: 1vw 3vw 1vw 5vw;
}

.suggestionlist {
  color: #424242;
  width: 90%;
  margin-left: 5%;
}

.display {
  display: flex;
  margin-top: 6vw;
}

.leftSidebar {
  width: 25vw;
  height: 100%;
  padding: 1vw 1.5vw;
  position: fixed;
  left: 0;
  right: 0;
  border-right: 1px solid #f0f0f0;
}

.mainBar {
  width: 70vw;
  position: relative;
  left: 25vw;
  padding: 0em 0.2em;
  background-color: #fefefe;
}

.results .resultpages .active {
  color: #fff !important;
}

@media (max-width:801px) { 
  /* tablet, landscape iPad, lo-res laptops ands desktops  
  .leftSidebar{
    width: 0vw;
    display: none;
  }
  */
  .mainBar{
    width: 100vw;
    position: fixed;
    left: 0vw;
  }
  .datasearch .searchbox {
    min-width: 50vw;
    max-height: 5vw;
    padding: 1vw 3vw 1vw 5vw;
    font-size: .75em;
  }
  .display {
    display: flex;
    margin-top: 9vw;
    font-size: 12px;
  }
  .searchBar {
    height: 6.5vw;
  }
}

@media (max-width:481px) { 
   /* smartphones, Android phones, landscape iPhone */
  .datasearch .searchbox {
    min-width: 75vw;
    padding: 1vw 3vw 1vw 10vw;
  }
  .display {
    margin-top: 10vw;
    font-size: 10px;
  }
  .searchBar {
    height: 7.5vw;
  }
  .logo {
    display: none;
  }
}